<div class="grid-container">
	<div [ngClass]="(isSingle$ | async) ? 'board-table' : 'multi-board-table'">
		<h3 class="header1">Difficulty: {{ difficulty$ | async | titlecase }}</h3>
		@if (isSingle$ | async) {
			<button (click)="solveValidateOne()" class="header2">Validate</button>
			<button (click)="solveBoardOne()" class="header3">Solve</button>
		}
		<button class="header4" (click)="restartGame()">Restart</button>
		<div class="game-area">
			@if (isSingle$ | async) {
				<app-board [isMultiMode]="false" [isPlayerOne]="true" [boardConfig$]="boardOne$"></app-board>
			} @else {
				<div class="multi-board-container">
					<button (click)="solveValidateOne()" class="menu-item-validation">Validate</button>
					<button (click)="solveBoardOne()" class="menu-item-solve">Solve</button>
					<app-board
						class="game-board"
						[isMultiMode]="true"
						[isPlayerOne]="true"
						[boardConfig$]="boardOne$"
					></app-board>
				</div>
				<div class="multi-board-container">
					<button (click)="solveValidateTwo()" class="menu-item-validation">Validate</button>
					<button (click)="solveBoardTwo()" class="menu-item-solve">Solve</button>
					<app-board
						class="game-board"
						[isMultiMode]="true"
						[isPlayerOne]="false"
						[boardConfig$]="boardTwo$"
					></app-board>
				</div>
			}
		</div>
		<div class="footer"><a routerLink="">Back To Menu</a></div>
	</div>
	@if (isSolved$ | async) {
		<div class="solved-banner">
			<span>There is a winner! You solved it!</span> <button (click)="solvedConfirmed()">Ok</button>
		</div>
	} @else if ((isValid$ | async) === false) {
		<div class="error-banner">
			<span>Oops! Something is not right! Check your solution again.</span>
			<button (click)="validityConfirmed()">Ok</button>
		</div>
	}
</div>
