<div class="grid-container">
	<div [ngClass]="(isSingle$ | async) ? 'board-table' : 'multi-board-table'">
		<h3 data-testid="difficulty-level" class="header1">Difficulty: {{ difficulty$ | async | titlecase }}</h3>
		@if (isSingle$ | async) {
			<button data-testid="validate-player-one" (click)="validateBoardOne()" class="header2">Validate</button>
			<button data-testid="solve-player-one" (click)="solveBoardOne()" class="header3">Solve</button>
		}
		@if (isGameInProgress$ | async) {
			<button class="header4" (click)="restartGame()">Restart</button>
		} @else {
			<a class="header4" routerLink="">Back To Menu</a>
		}
		<div class="game-area">
			@if (isSingle$ | async) {
				<app-board [isMultiMode]="false" [isPlayerOne]="true" [boardConfig$]="boardOne$"></app-board>
			} @else {
				<div class="multi-board-container">
					<button data-testid="validate-player-one" (click)="validateBoardOne()" class="menu-item-validation">
						Validate
					</button>
					<button data-testid="solve-player-one" (click)="solveBoardOne()" class="menu-item-solve">
						Solve
					</button>
					<app-board
						data-testid="player-one-board"
						class="game-board"
						[isMultiMode]="true"
						[isPlayerOne]="true"
						[boardConfig$]="boardOne$"
					></app-board>
				</div>
				<div class="multi-board-container">
					<button data-testid="validate-player-two" (click)="validateBoardTwo()" class="menu-item-validation">
						Validate
					</button>
					<button data-testid="solve-player-two" (click)="solveBoardTwo()" class="menu-item-solve">
						Solve
					</button>
					<app-board
						data-testid="player-two-board"
						class="game-board"
						[isMultiMode]="true"
						[isPlayerOne]="false"
						[boardConfig$]="boardTwo$"
					></app-board>
				</div>
			}
		</div>
		<div class="footer"><a routerLink="">Back To Menu</a></div>
	</div>
	@if (isSolved$ | async) {
		<div class="solved-banner">
			<span>There is a winner! You solved it!</span>
			<button data-testid="solving-ok" (click)="solvedConfirmed()">Ok</button>
		</div>
	} @else if ((isValid$ | async) === false) {
		<div class="error-banner">
			<span>Oops! Something is not right! Check your solution again.</span>
			<button data-testid="validation-ok" (click)="validityConfirmed()">Ok</button>
		</div>
	}
</div>
