.grid-container {
	height: 100dvh;
	background-image: linear-gradient(to right, rgb(203 213 225) 1px, transparent 1px),
		linear-gradient(to bottom, rgb(203 213 225) 1px, transparent 1px);
	background-size: 2.5rem 2.5rem;
	background-position: center center;

	display: flex;
	justify-content: center;
	justify-items: center;
}

.menu-panel {
	display: grid;
	align-content: flex-start;
	background-color: var(--surface-color);
	border: 6px solid var(--secondary-color);
	padding: var(--gap-medium);
	border-radius: 16px;
	gap: var(--gap-large);
}

.title {
	font: 700 48px "Fredoka One";
	color: var(--primary-color);
	margin-top: var(--gap-large);
}

.form-container {
	display: grid;
	align-content: flex-start;
	gap: var(--gap-medium);
}

.information-label {
	font: 700 24px "Fredoka One";
	color: var(--primary-color);
}

.submit-btn {
	margin-top: var(--gap-large);
}
