.menu-panel {
	display: grid;
	align-content: flex-start;
	background-color: var(--surface-color);
	border: 6px solid var(--secondary-color);
	padding: var(--spacing-large);
	border-radius: 16px;
	gap: var(--spacing-large);
}

.title {
	font: 700 48px "Fredoka One";
	color: var(--primary-color);
	margin-top: var(--spacing-large);
}

.form-container {
	display: grid;
	align-content: flex-start;
	gap: var(--spacing-medium);
}

.information-label {
	font: 700 24px "Fredoka One";
	color: var(--primary-color);
}

.submit-btn {
	margin-top: var(--spacing-large);
}
