<div class="grid-container">
	<div class="menu-panel">
		<h1 class="title">Sudoku Time</h1>

		<form class="form-container">
			<label class="information-label" for="players">Choose game mode:</label>
			<select id="players">
				<option>1 Player</option>
				<option>2 Player</option>
			</select>

			<label class="information-label" for="levels">Choose level:</label>
			<select id="levels">
				<option>Easy</option>
				<option>Medium</option>
				<option>Hard</option>
				<option>Random</option>
			</select>

			<button class="submit-btn">Start</button>
		</form>
	</div>
</div>
